[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
langchain = "*"
black = "*"
openai = "*"
install = "*"
google-search-results = "*"
tweepy = "*"
flask = "*"
openapi-schema-pydantic = "*"
pydantic = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
